{% extends 'base.html' %}

{% block header_text %} Your To-Do {% endblock %}

{% block form_action %} /lists/{{ list.id }}/{% endblock %}

{% block table %}
<table id = "id_list_table" class="table">
{% for item in list.item_set.all %}
<tr><td>{{ forloop.counter }}:{{ item.text }}</td></tr>
{% endfor %}
</table>
{% endblock %}